# macOS system files
.DS_Store

# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment folders
env/
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

*.log

*.pyc

.pytest_cache/

.mypy_cache/

.vscode/

pylint-report.txt

.Trashes

